html{
    --vscode-scrollbarSlider-background:white !important;
    --vscode-scrollbarSlider-hoverBackground: rgb(17, 54, 173) !important;
    --vscode-scrollbarSlider-activeBackground:rgb(26, 23, 167) !important;
}

a:focus, input:focus, select:focus, textarea:focus{
    outline: none;
    outline-offset: 0;
}
body{
    background: #404040;
    margin:0;
    padding:0 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.maingridcontainer{
    display:  grid;
    grid-template-rows: 40px  200px 30px 30px calc(100vh - 300px);
}

.containergriditem{
    
}

.containertablinks{
    display: flex;    
}

.toggle1{
    background: gray;
    border-radius: 5px;
    border:1px solid black;
    align-self: center;
    padding: 2px 5px;    
    cursor: pointer;
}

.toggle1selected{
    background: lawngreen;
    box-shadow: 0 0 5px forestgreen;
    transition: all 1s;
}

.tablink{
    min-width: 100px;
    background: linear-gradient(145deg, gainsboro, white, lightgray, white);
    margin: 3px 2px 0 2px;    
    border-top-left-radius: 4px;
    border-top-right-radius: 10px;
    vertical-align: bottom;
    padding: 6px 30px 0 5px;
    font-variant: small-caps;
    border: 1px solid black;
    color: black;
    font-weight: bold;        
}

.tablink:hover{
    cursor:pointer;
    background: linear-gradient(45deg, steelblue, skyblue, dodgerblue);
    transition: all 1s;
    color: white;
    text-shadow: 0 0 2px black;
}

.selectedtablink {
    background: linear-gradient(45deg, forestgreen, seagreen,lawngreen) !important;
    transition: all 1s;
    color:white;
    text-shadow: 0 0 2px black;
}

.indexingmetricsholder{
    display:flex;
    justify-content: center;
    height: 100%;
}

.indexingmetricsholder table{
    width: 99%;
    margin:auto;
    line-height: 30px;
    font-size: 103%;
    border-collapse: collapse;
}

.indexingmetricsholder table thead{
    text-shadow: 1px 1px 5px black;
    background: linear-gradient(5deg, #404040, dimgray, #404040);
    font-weight: bold;
}

.indexingmetricsholder table tbody tr {
    border-bottom: 1px solid gainsboro;
    background: white;
    color:black;
}

.indexingmetricsholder table tbody tr:nth-child(even){
    background: whitesmoke;
    color:black;
}

.indexingmetricssection{
    width: 50%;
    text-align: center;    
}

.indexingmetricsmaintitle{
    background: black;
    font-weight: bold;
    display: block;
    letter-spacing: 1px;
    font-size: 100%;    
    color: gold;
    padding: 3px 0;
    font-variant: small-caps;
    text-shadow: 0 0 2px black;
}

.indexingseperator{
    width:10px;
    background: linear-gradient(to left, gray, gainsboro, azure);
}

.indexingmetricitembox{
    text-align: left;
    border: 1px solid gray;    
    margin: 10px auto;
    border-radius: 4px;
    background: #102030;
    width:90%;
    display:flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.indexingmetricitemindicator{
    font-size: 90%;
    font-variant: small-caps;    
    color: black;
    border-radius: 3px;    
    padding: 3px 10px;    
    box-shadow: 0 0 3px white;    
    letter-spacing: 1px;
    min-width: 60px;
    text-align: center;
    text-shadow: 0 0 1px black;
}


.indexingmetricstext{
    letter-spacing: 1px;
    display:flex;
    flex-direction: column;
    line-height: 20px;
}

.greengradient1{
    background: linear-gradient(45deg, lawngreen, springgreen, forestgreen);
}

.redgradient1{
    background: linear-gradient(45deg, red, rgb(214, 30, 30), orangered);
    color:white;
    text-shadow: 0 0 2px black;
}

.connectcontainer{                
    background: #152025;
    display: flex;
    justify-content: space-around;    
    align-items: center;
    color:white;
}

.connectcontainer>div{
    padding: 5px 0;
}

.connectcontainer label{            
    font-size:13px;
    font-variant: small-caps;
}

.connectcontainer select {
    width: 150px;
    padding: 7px 3px;
    box-shadow: 0 0px 12px black;
    border: 1px solid black;
    border-radius: 5px;
}

.querycontainer{    
    display: flex;
    flex-wrap: wrap;    
}

.querysource{
    font-size:18px;
    width:calc(100vw - 360px);
    height:100%;
    flex-grow: 1;
    background:white;
}

.summarycontainer{    
    background: #152025;    
    text-align: center;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    color: white;
    font-variant: small-caps;
}

.summarycontainer > article{
    padding: 1px 15px;            
    margin: 2px 5px;
    border-left: 1px solid white;
    border-right: 1px solid white;           
}

.summarycontainer article label {
    padding: 3px 0;
    letter-spacing: 1px;
    font-weight: normal;
}

.summarycontainer article span{
    font-weight: bold;
    color:lemonchiffon;
}

.bottomcontainer{
    background: black;
    border:1px solid gainsboro;
    display:flex;
    flex-wrap: wrap;
}

.whitebackground{
    background: white !important;
}

.indexingresults{   
    display: none;
    color:white;
}

.resultsbox{
    width: calc(100vw - 360px);
    flex-grow:1;
    height:calc(100vh - 302px);
    overflow-y: auto;
}

.spatialresults{
    display: none;
}

.analyzeresults{
    display: none;
}

.qanalyzer{
    display:none;
    background:linear-gradient(to bottom,black, #40404a);
}

.queriestoanalyze{
    display: flex;
    background: linear-gradient(45deg, azure, ghostwhite, azure);
}

.TrialQueryDefs{
    display:flex;
    flex-direction: column;
    width: 125px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    color:white;
}

.TrialQueryDefs div {    
    border-bottom:1px solid black;
    padding:1px 0;    
    padding: 2px;
    background: #446383;
    text-shadow: 0 0 3px black;
    font-variant: small-caps;
}


.TrialQuery{
    display:flex;
    flex-direction: column;
    min-width:100px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.TrialQuerySeq{
    width: 88px;
}

.TrialQueryRemove{

}

.TrialQueryRemove:hover{
    cursor: pointer;
}

.TrialQueryTitle{
    background: #446383;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    padding: 2px 0;
    letter-spacing: 2px;
    border-bottom:1px solid black;
    display: flex;
}

.TrialQueryStats div{
    border-bottom:1px solid black;    
    background: whitesmoke;
    padding: 2px;
    text-align: center;
    color:black;
}

.TrialQueryStats div:nth-child(even){
    background:white;
}

.CompareButton{
    background: dimgray !important;
    color:white !important;
    text-shadow: 1px 1px 1px black;;
}

.CompareButton:hover{
    cursor: pointer;
}

.CompareButtonSelected{
    background: lawngreen !important;
    color:black !important;
    text-shadow: none;
    transition: all 1s;
}

.playbutton{
    width: 21px;
    color: navy;
    background: azure;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    height: 18px;
    margin: 0 5px 0 0;
    border: 1px solid dimgray;
}

.playbutton:hover{
    background: springgreen !important;
}

.playbutton::before{
    content: '\25B6'
}

.QComparisonHolder{
    width: 100%;
}

.QComparisonRowHeader{
    background: linear-gradient(to bottom, #0a5078, #0f293c, #051a30) !important;
    color: white;
    margin: 5px 0 0 0;    
    padding: 5px 0;
    letter-spacing: 1px;
    font-variant: small-caps;
}

.QComparisonRow{
display:flex;
border-bottom: 1px solid black;
padding: 10px 5px;
align-items: center;
background: white;
}

.QComparisonRow:nth-child(even){
    background: whitesmoke !important;
}

.QComparisonRowSeq{
    width: 20px;
    text-align: center;
    background: lawngreen;
    color:black;
    border-radius:  20px;
    padding: 3px;
    margin:  0 10px 0 0;
    box-shadow: 0 0 3px black;
    border:1px solid dimgray;
}

.QComparisonRowQuery{
width: 80%;
color:black;
}

.QComparisonRowIndex{
    width:20%;
    text-align: center;
}

.QComparisonOptions{   
    background: gainsboro;
    padding: 3px 0;
    border-bottom: 1px solid dimgray;
    text-align: right;
}

.QComparisonOptions input{
    background: dimgray;
    color:white;
    letter-spacing: 1px;
    width:100px;
    text-shadow: 1px 1px 1px black;
    box-shadow: 0 0 5px dimgray;
    margin: 0 5px;
    border:1px solid black;
    border-radius: 4px;
}

.QComparisonOptions input:hover{
    border:1px solid white;    
}


.redflag {
    background: radial-gradient(red, darkred) !important;
    color:white !important;
    text-shadow: 0 0 2px black;
}


.cosmosmap{
    width: 100%;
    height: 100%;
}

.canvasholder{
    position: relative;
    width:99%;    
    margin:auto;
    height: calc(100vh - 381px);
}

.queryoptionresults {
    width: 300px;    
    color: black;
    font-size: 12px;
    display: none;   
    background: linear-gradient(90deg, white, whitesmoke);
    border-left: 2px ridge gray;    
    line-height: 18px;
    height: calc(100vh - 302px);
}

.headertxt{
    padding: 0 0 0 5px;
}

.MetricsBox{
    display: none;
    overflow:auto;
    height:100%;
}

.MetricsBox > div {
    padding:2px 7px;    
}

.samegroup{
    box-shadow: 0 1px 1px gainsboro;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.detailgroup{
    border-bottom: 1px dotted black;
    text-indent: 6px;
}

.sameline{
    display: flex;
    justify-content: space-between;
}

.sameline>span{
    font-weight: bold;
}

.alignleft{
    text-align: left;
}

.alignright{
    text-align:right;
}

.withborder{
    border-bottom: 1px solid black;
}

.compositeIndexholder{
    display:flex;    
    flex-direction: column;
    border-top: 1px solid gray;
}

.compositeIndexholder:nth-child(even)
{
    background: gainsboro;
}

.compositeindexitem{
display: flex;
justify-content: flex-end;
}



.compositeindexitemorder{
    width:50px;
    text-align: right;
}

.MetricsTabs{
    width: 40px;
    color:white;
    text-shadow: 1px 1px 1px black;
    display:flex;
    justify-content: flex-end;
    align-content: flex-start;
    flex-wrap: wrap;                
    background:linear-gradient(to left, #2f4c4b, #2b2b44);
}

.metricstablink{
        margin: 2px 0 0 0;
        border-bottom: 1px solid white;
        writing-mode: vertical-rl;
        text-orientation:mixed;
        padding: 5px 10px;
        height: 120px;
        text-align: center;
        background: radial-gradient(black, #003e02);
}

.metricstablink:hover{
    cursor: pointer;
    color:lawngreen;
}

.metricstablinkSelected {
    color: deepskyblue;
}

.loadDialog{
    width:500px;                
    background: #101020;
    text-align: center;
    border: 3px solid lightgray;
    box-shadow: 0 0 5px white;
    border-radius: 5px;
    color:white;
    font-size: 13px;
    overflow:hidden;
    letter-spacing: 1px;
}

.connectionbox{
    width: 400px;                
    border: 3px solid lightgray;
    box-shadow: 0 0 5px white;
    background: #101020;
    color:white;
    font-size: 13px;
    letter-spacing: 1px;
    text-align: left;
}

.commandbutton{
    background: linear-gradient(200deg, aliceblue, whitesmoke,gainsboro, whitesmoke, aliceblue);
    padding: 7px 5px;
    border-radius: 8px;
    color:black;
    bordeR:1px solid black;
    box-shadow: 0 0 2px whitesmoke;
}

.commandbutton:hover{    
    border: 1px solid forestgreen;
    cursor:pointer;
    background: springgreen !important;
}

.pointreadbox {
    border-right: 1px solid white;
    padding:5px 0 0 0;    
    color: white;
    background: linear-gradient(to right, #404040, #505050, #404040);
    border-left: 1px solid white;    
}

.pointreadbox label{
    font-weight: bold;
    text-shadow: 0 0 3px black;;
}

.pointreadbox input[type='text']{        
    padding: 5px 0;
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 5px black;
    width:96%;
}

.pointreadbox>input[type='button']{
    background: gainsboro;
}

.section1{    
    color:white;
    background: black;
    font-variant: small-caps;
}

.errorbox{
    min-width: 400px;                
    border: 3px solid lightgray;
    box-shadow: 0 0 5px white;
    background: #101020;
    color:white;
    font-size: 13px;
    letter-spacing: 1px;
    text-align: left;
    line-height: 18px;
}

.ace_selected_word {
    background: red;
    position:absolute;
}

.partitionsexecution{
    padding:0;
    box-shadow: 0 0 5px skyblue;    
}

.partitionsexecution table {
    width:100%;
    border-collapse: collapse;
    text-align: center;
}

.partitionsexecution table thead{
    background: #102050;
    color:white;
}

.partitionsexecution table thead tr {
    height: 30px;
    border-bottom: 1px solid black;
}

.partitionsexecution table thead tr td {
    width: 120px;
}

.partitionsexecution table tbody {
    line-height: 20px;
}

.partitionsexecution table tbody tr:nth-child(even) {
    background: #d5dbe1;
}

.partitionexecutionmetriclink {
    color: dodgerblue;
    text-decoration: underline;
}

.partitionexecutionmetriclink:hover{
    cursor: pointer;
}

.partitionexecutionmetriclink::after{
    content: ' View';
}

.optionstbox{
    border-radius: 4px;
    border:1px solid black;
    padding: 3px 0;
    text-indent: 5px;
}

.loadingquerybox{    
        text-align: center;
        width: 250px;
        background: linear-gradient(45deg, dimgray, gray, dimgray);
        border-radius: 50px;
}

.loadingqueryboxtext {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 2px;
    color: azure;
    text-shadow: 1px 1px 1px black;
}

.analyzeselect{
    border: 1px solid gray;
    padding: 5px;
    font-weight: bold;
    background: linear-gradient(45deg, ghostwhite, whitesmoke);
}

.analyzestat{
    border:1px solid lightgray;
    padding: 2px 15px;
    border-radius: 5px;
    background: linear-gradient(45deg, ghostwhite, whitesmoke);
    font-variant: small-caps;
}
